title {
        display: yes;
}
html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width:auto;
    background-image: url(kings-row.jpg);
 }

body {
    height: 100%;
    width:auto;
}

ul {
    list-style-type: none;
    margin: 100px;
    padding: 0px;
    overflow: hidden;
    background-color: #333;
}
li {
    float: right;
    
    }

.nav-item {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 25px;
    text-decoration: none;
}


.nav-item:hover {
    background-color: #e69b42;
    color:white;
    text-decoration: none;
}


li a {
    color:white;
    text-decoration: none;
        
}
li a:hover {
    text-decoration: none;
}


li a.active {
    background-color: #e69b42;
    color: white;
    width: 100%;
}


#navHome {
    color:white;
    float:left;
    width: 300px;
    height: 52px;
    text-align: center;
    padding: 0px;
}

.navresize {
    display:none;
}



footer {
    text-align: center;
    word-wrap: normal;
    z-index: 10;
    color:white;
    height: 3%;
    margin-left: 100px;
    margin-right: 100px;
    
}

#filler {
    height: 91%;
    margin-left: 100px;
    margin-right: 100px;
}

.twitter-timeline {
    float:right;
        
}

#construction {
    z-index: 10000;
    color:white;
    float:left;
    margin-top: 20%;
}




@media only screen and (max-width: 900px) {
  .navbar {
    width:100%;
    margin: 0px;
  }
    ul {
        margin:0px;
    }
  .nav-item {
    width:100%;
    margin:0px;
    padding: 0;
    float:none;
    display:none;
  }
    #navHome {
        display:none;
        
    }
    .twitter-timeline {
        margin: 15%;
        width:100%;
        position: relative;
    }
    
    .navresize {
        display: inline-block;
        width:100%;
        margin:0px;
        padding:0;
        float:none;
    }
    
    footer {
        margin:0px;
    }
}

